/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Pretendard", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme이 배경 색상 관련 코드 */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: whitesmoke; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* max-width: 360px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
